language: python
python:
  - "2.7"
notifications:
  email: false

before_install:
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-get update -qq
  - sudo apt-get install -qq g++-4.8
  - wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -b
  - export PATH=/home/travis/miniconda/bin:$PATH
  - conda update --yes conda
  # The next couple lines fix a crash with multiprocessing on Travis and are
  # not specific to using Miniconda
  - sudo rm -rf /dev/shm
  - sudo ln -s /run/shm /dev/shm
  - conda create -n build --yes python=$TRAVIS_PYTHON_VERSION numpy scipy nose cython pip
  - source activate build
  - conda install --yes -c distributions distributions
  - conda install --yes -c datamicroscopes pymc eigen3
  - export CC=gcc-4.8
  - export CXX=g++-4.8
  - printenv
  - mkdir .travis
  - (cd .travis && git clone https://github.com/datamicroscopes/common.git && cd common && make travis_install)

install: make travis_install 

script: make travis_script
